.svg-wrapper {
	width: 500px;
	height: 500px;
	background: grey;
}

.legend {
	/*width: 100px;
	height: 50px;*/
}

.axis,
.axis, .line {
  fill: none;
  stroke: #E6E7E8;
  shape-rendering: crispEdges;
}